In [1]:
%cd ../

/home/hoanghu/projects/Food-Waste-Optimization/experiments_hoangle

In [2]:
import pandas as pd

from utils import Paths

# Load related dim tables

In [3]:
dim_lunches = pd.read_excel(Paths.dim_lucnhes(), index_col=None)
dim_lunches.head()

        date restaurant category                            dish  pcs
0 2023-01-02   Chemicum     fish  Kalapuikot tillikermaviilikast   78
1 2023-01-02   Chemicum     meat                    Uunimakkaraa  165
2 2023-01-02   Chemicum    vegan        Marokkolainen linssipata   84
3 2023-01-03   Chemicum     fish                Herkkulohipihvit  105
4 2023-01-03   Chemicum     fish  Kalapuikot tillikermaviilikast   52

# Create dim 'dishes'

In [4]:
dishes = dim_lunches.groupby(['restaurant', 'category', 'dish'])['pcs'].count().reset_index().drop(columns='pcs')
dishes['meal_id'] = range(1, len(dishes) + 1)

dishes = dishes[['meal_id', 'restaurant', 'category', 'dish']]

dishes.head()

   meal_id restaurant category                                    dish
0        1   Chemicum  chicken                  BBQ-Broilerikastiketta
1        2   Chemicum  chicken  Broileria appelsiini-currykastikkeessa
2        3   Chemicum  chicken            Broileria pekonikastikkeessa
3        4   Chemicum  chicken             Broileria pestokastikkeessa
4        5   Chemicum  chicken                         Broilerinkoipea

In [5]:
dishes.to_excel(Paths.dim_dishes(), index=False)