In [1]:
%cd ../

/home/hoanghu/projects/Food-Waste-Optimization/experiments_hoangle

In [2]:
import numpy as np
import pandas as pd
from sklearn.preprocessing import OneHotEncoder
from sklearn.linear_model import LinearRegression
from sklearn.metrics import r2_score, root_mean_squared_error

from utils import Paths

# Load related dim tables

In [3]:
dim_biowaste = pd.read_excel(Paths.dim_biowaste(), index_col=None)
dim_biowaste.head()

,date,restaurant,amnt_waste_customer,amnt_waste_coffee,amnt_waste_kitchen,amnt_waste_hall
0,2023-01-02,Chemicum,4.70,1.2,12.0,0.0
1,2023-01-03,Chemicum,5.00,1.4,14.8,0.0
2,2023-01-04,Chemicum,4.15,4.0,7.1,0.0
3,2023-01-05,Chemicum,10.00,3.3,8.5,0.0
4,2023-01-09,Chemicum,7.65,2.1,4.9,0.0

In [4]:
dim_lunches = pd.read_excel(Paths.dim_lucnhes(), index_col=None)
dim_lunches.head()

        date restaurant category                            meal  pcs
0 2023-01-02   Chemicum     fish  Kalapuikot tillikermaviilikast   78
1 2023-01-02   Chemicum     meat                    Uunimakkaraa  165
2 2023-01-02   Chemicum    vegan        Marokkolainen linssipata   84
3 2023-01-03   Chemicum     fish                Herkkulohipihvit  105
4 2023-01-03   Chemicum     fish  Kalapuikot tillikermaviilikast   52

# Create data

## OneHot encode dish name

In [5]:
enc_onehot = OneHotEncoder(sparse_output=False)

enc_onehot.fit(dim_lunches[['meal']])

vectors = enc_onehot.transform(dim_lunches[['meal']])
embs = [x.squeeze() for x in vectors]

In [6]:
dim_lunches['embd'] = embs
dim_lunches['embd'] = dim_lunches['embd'] * dim_lunches['pcs']
dim_lunches.head()

,date,restaurant,category,meal,pcs,embd
0,2023-01-02,Chemicum,fish,Kalapuikot tillikermaviilikast,78,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ..."
1,2023-01-02,Chemicum,meat,Uunimakkaraa,165,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ..."
2,2023-01-02,Chemicum,vegan,Marokkolainen linssipata,84,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ..."
3,2023-01-03,Chemicum,fish,Herkkulohipihvit,105,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ..."
4,2023-01-03,Chemicum,fish,Kalapuikot tillikermaviilikast,52,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ..."

## Get embedding per day and restaurant

In [7]:
embds_by_day_res = (
    dim_lunches
    .groupby(['date', 'restaurant'])['embd']
    .sum()
    .reset_index()
)

embds_by_day_res.head()

        date restaurant                                               embd
0 2023-01-02   Chemicum  [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...
1 2023-01-03   Chemicum  [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...
2 2023-01-04   Chemicum  [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...
3 2023-01-05   Chemicum  [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...
4 2023-01-09   Chemicum  [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...

## Get total waste per day and restaurant

In [8]:
dim_biowaste['waste'] = (
    dim_biowaste['amnt_waste_customer']
    + dim_biowaste['amnt_waste_coffee']
    + dim_biowaste['amnt_waste_kitchen']
    + dim_biowaste['amnt_waste_hall']
)

dim_biowaste.drop(
    columns=['amnt_waste_customer', 'amnt_waste_coffee', 'amnt_waste_kitchen', 'amnt_waste_hall'],
    inplace=True
)

dim_biowaste.head()

        date restaurant  waste
0 2023-01-02   Chemicum  17.90
1 2023-01-03   Chemicum  21.20
2 2023-01-04   Chemicum  15.25
3 2023-01-05   Chemicum  21.80
4 2023-01-09   Chemicum  14.65

## Create single table containing embeddings and biowaste per day and restaurant

In [9]:
fact = (
    embds_by_day_res
    .merge(dim_biowaste, on=['date', 'restaurant'])
)

fact.head()

,date,restaurant,embd,waste
0,2023-01-02,Chemicum,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",17.90
1,2023-01-03,Chemicum,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",21.20
2,2023-01-04,Chemicum,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",15.25
3,2023-01-05,Chemicum,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",21.80
4,2023-01-09,Chemicum,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",14.65

# Find waste amount emitted by each dish

In [10]:
model = LinearRegression(positive=True, fit_intercept=False)

X = np.stack(fact['embd'].to_numpy())
y = fact['waste']

model.fit(X, y)

model.coef_

array([5.68979614e-02, 5.04847297e-02, 4.91931273e-02, 0.00000000e+00,
       4.00150815e-02, 0.00000000e+00, 6.92182652e-02, 6.26239007e-02,
       4.67846599e-02, 3.05455947e-01, 4.93720100e-02, 0.00000000e+00,
       4.56874154e-02, 2.36042022e-01, 1.96228954e-01, 4.72136401e-02,
       1.21907128e-01, 6.45894009e-02, 1.60250643e-02, 4.84570109e-02,
       3.67576362e-02, 4.37330356e-02, 8.66946231e-02, 2.58907871e-01,
       1.82319270e-01, 4.99114180e-02, 6.01881711e-02, 3.74656337e-02,
       9.06737675e-02, 0.00000000e+00, 2.56833975e-02, 1.17994451e-01,
       5.64394726e-02, 6.79587885e-03, 4.82819166e+00, 2.11610235e-01,
       2.98349722e-01, 1.69491797e-02, 3.86955568e-02, 0.00000000e+00,
       0.00000000e+00, 1.07866269e-01, 0.00000000e+00, 4.78112637e-02,
       8.70554680e-02, 2.21063338e-02, 6.67182682e-02, 4.18795855e-01,
       5.45730892e-02, 0.00000000e+00, 2.29989499e-01, 0.00000000e+00,
       3.12145038e-02, 1.07681355e-01, 0.00000000e+00, 3.31397305e-02,
       0.00000000e+00, 0.00000000e+00, 5.62131688e-02, 2.44763229e-02,
       0.00000000e+00, 2.43739005e-03, 5.51369581e-02, 6.50371750e-02,
       0.00000000e+00, 0.00000000e+00, 3.48487156e-02, 6.18850397e-02,
       5.63241288e-02, 4.36706088e-02, 0.00000000e+00, 7.38959491e-02,
       2.86597726e-02, 4.21408114e-02, 1.72809285e-02, 4.55581852e-02,
       0.00000000e+00, 5.17438986e-02, 1.03361391e-02, 9.96114128e-02,
       2.61688140e-02, 9.61784069e-02, 3.29155393e-02, 1.41480914e-01,
       2.66645462e-02, 4.69537097e-02, 7.92963336e-02, 6.83884658e-02,
       1.20800044e-01, 1.18327938e+00, 0.00000000e+00, 2.14825770e-01,
       2.58494672e-02, 5.72987479e-02, 4.46120149e-02, 3.04436982e-02,
       1.07443565e+00, 8.79898226e-02, 7.38953159e-02, 0.00000000e+00,
       0.00000000e+00, 0.00000000e+00, 4.44222439e-02, 5.50124044e-02,
       2.38645942e-02, 2.96366826e-01, 0.00000000e+00, 1.22753706e-01,
       8.51784227e-02, 9.97655945e-02, 9.80295956e-02, 1.18484046e-01,
       0.00000000e+00, 0.00000000e+00, 3.00803634e-02, 3.40022650e-02,
       4.99593215e-02, 4.63352432e-02, 1.02778118e-01, 5.55424782e-02,
       4.59901338e-02, 2.60898897e+00, 1.44664393e-01, 1.05319171e-01,
       1.81396691e-01, 7.99620300e-02, 0.00000000e+00, 1.19537409e-01,
       3.38439517e+00, 3.25356204e-02, 0.00000000e+00, 4.52619237e-02,
       1.71924851e-01, 6.40231339e-02, 0.00000000e+00, 2.30736735e-01,
       1.02560038e-01, 4.50464008e-02, 6.98333755e-02, 0.00000000e+00,
       3.90921101e-01, 9.81444260e-02, 0.00000000e+00, 1.39269301e-01,
       6.13117433e-02, 8.17146074e-02, 3.60256848e-02, 0.00000000e+00,
       1.68669414e-02, 3.49718804e-02, 1.97484438e-02, 3.47178732e-02,
       9.79731167e-02, 1.22273485e+00, 2.54223573e-02, 5.55976404e-02,
       4.29828881e-02, 2.48174245e-02, 0.00000000e+00, 0.00000000e+00,
       0.00000000e+00, 2.29096169e+00, 0.00000000e+00, 6.18562058e-02,
       3.97961856e-02, 1.40749610e-01, 3.02907969e-02, 3.23138144e+00,
       2.03198609e+00, 4.24789375e-02, 5.95659545e+00, 5.96764646e-02,
       0.00000000e+00, 1.83411953e-01, 1.09434553e-01, 0.00000000e+00,
       7.88152744e-02, 4.07649232e-02, 0.00000000e+00, 8.86725643e-03,
       3.87881927e-02, 9.95797775e-02, 0.00000000e+00, 6.81315324e-02,
       1.20267025e-01, 3.03714977e-02, 4.28658163e-02, 0.00000000e+00,
       0.00000000e+00, 0.00000000e+00, 3.38402947e-02, 0.00000000e+00,
       1.35385853e-01, 1.85001983e-01, 4.07296962e-02, 1.22312914e-03,
       5.05659581e-02, 6.41782368e-02, 6.14590871e+00, 5.13583476e-02,
       1.46554636e-02, 5.76011753e-02, 4.81094218e-02, 7.73922821e-02,
       0.00000000e+00, 1.83531227e-01, 9.54035959e-05, 8.07166351e-02,
       4.93739917e-02, 1.26313420e-01, 8.91860121e-02, 2.92124369e-02,
       5.45696461e-02, 5.67944615e-02, 2.93158171e-02, 0.00000000e+00,
       7.15899022e-02, 0.00000000e+00, 2.45909593e-01, 0.00000000e+00,
       6.46354821e-02, 2.77024305e-01, 1.44175443e-02, 0.00000000e+00,
       3.09784435e-01, 5.62237048e-02, 5.01281968e-02, 5.48912632e-02,
       1.07124907e-01, 4.39437612e-02, 0.00000000e+00, 6.53017436e-02,
       3.88201510e-02, 4.28043626e-02, 6.04170335e-02, 0.00000000e+00,
       0.00000000e+00, 8.43539063e-04, 5.09062763e-01, 5.74678036e-02,
       4.21295688e-02])

In [11]:
r2 = r2_score(y, model.predict(X))
rmse = root_mean_squared_error(y, model.predict(X))

print(f"r2   = {r2:.4f}")
print(f"rmse = {rmse:.4f}")

r2   = 0.6777
rmse = 8.2531

In [12]:
# This amount is added to waste of all dishes, which
# is based on the assumption that every dish emits waste

THETA = 1e-4

dish_biowaste = pd.DataFrame.from_records([
    {'dish': name, 'waste': waste}
    for name, waste in zip(enc_onehot.categories_[0], model.coef_)
])

dish_biowaste.head()

                             dish     waste
0  Aurajuusto-pinaattilasagnettea  0.056898
1          BBQ-Broilerikastiketta  0.050485
2    Bangladeshilainen linssipata  0.049193
3       Bataatti-maapähkinäkeitto  0.000000
4                  Bataattipihvit  0.040015

In [14]:
dish_biowaste.to_excel(Paths.pred_biowaste(), index=False)