In [1]:
%cd ../

/home/hoanghu/projects/Food-Waste-Optimization/experiments_hoangle

In [2]:
import numpy as np
import pandas as pd
from sklearn.linear_model import LinearRegression
from sklearn.metrics import r2_score, root_mean_squared_error

from utils import Paths

# Load related dim tables

In [3]:
dim_biowaste = pd.read_excel(Paths.dim_biowaste(), index_col=None)
dim_biowaste.head()

,date,restaurant,amnt_waste_customer,amnt_waste_coffee,amnt_waste_kitchen,amnt_waste_hall
0,2023-01-02,Chemicum,4.70,1.2,12.0,0.0
1,2023-01-03,Chemicum,5.00,1.4,14.8,0.0
2,2023-01-04,Chemicum,4.15,4.0,7.1,0.0
3,2023-01-05,Chemicum,10.00,3.3,8.5,0.0
4,2023-01-09,Chemicum,7.65,2.1,4.9,0.0

In [4]:
dim_lunches = pd.read_excel(Paths.dim_lucnhes(), index_col=None)
dim_lunches.head()

        date restaurant category                            dish  pcs
0 2023-01-02   Chemicum     fish  Kalapuikot tillikermaviilikast   78
1 2023-01-02   Chemicum     meat                    Uunimakkaraa  165
2 2023-01-02   Chemicum    vegan        Marokkolainen linssipata   84
3 2023-01-03   Chemicum     fish                Herkkulohipihvit  105
4 2023-01-03   Chemicum     fish  Kalapuikot tillikermaviilikast   52

In [5]:
dim_dishes = pd.read_excel(Paths.dim_dishes(), index_col=None)

dim_dishes.head()

   meal_id restaurant category                                    dish
0        1   Chemicum  chicken                  BBQ-Broilerikastiketta
1        2   Chemicum  chicken  Broileria appelsiini-currykastikkeessa
2        3   Chemicum  chicken            Broileria pekonikastikkeessa
3        4   Chemicum  chicken             Broileria pestokastikkeessa
4        5   Chemicum  chicken                         Broilerinkoipea

# Create data

## OneHot encode dish name

In [6]:
n = len(dim_dishes)
dim_dishes['embd'] = [embd for embd in np.eye(n)]


dim_dishes.head()

,meal_id,restaurant,category,dish,embd
0,1,Chemicum,chicken,BBQ-Broilerikastiketta,"[1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ..."
1,2,Chemicum,chicken,Broileria appelsiini-currykastikkeessa,"[0.0, 1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ..."
2,3,Chemicum,chicken,Broileria pekonikastikkeessa,"[0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ..."
3,4,Chemicum,chicken,Broileria pestokastikkeessa,"[0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 0.0, 0.0, ..."
4,5,Chemicum,chicken,Broilerinkoipea,"[0.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 0.0, ..."

In [7]:
dim_lunches = (
    dim_lunches
    .merge(dim_dishes, on=['restaurant', 'category', 'dish'], how='left')
)
dim_lunches['embd'] = dim_lunches['embd'] * dim_lunches['pcs']
dim_lunches.head()

,date,restaurant,category,dish,pcs,meal_id,embd
0,2023-01-02,Chemicum,fish,Kalapuikot tillikermaviilikast,78,33,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ..."
1,2023-01-02,Chemicum,meat,Uunimakkaraa,165,101,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ..."
2,2023-01-02,Chemicum,vegan,Marokkolainen linssipata,84,136,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ..."
3,2023-01-03,Chemicum,fish,Herkkulohipihvit,105,27,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ..."
4,2023-01-03,Chemicum,fish,Kalapuikot tillikermaviilikast,52,33,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ..."

## Get embedding per day and restaurant

In [8]:
embds_by_day_res = (
    dim_lunches
    .groupby(['date', 'restaurant'])['embd']
    .sum()
    .reset_index()
)

embds_by_day_res.head()

        date restaurant                                               embd
0 2023-01-02   Chemicum  [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...
1 2023-01-03   Chemicum  [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...
2 2023-01-04   Chemicum  [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...
3 2023-01-05   Chemicum  [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...
4 2023-01-09   Chemicum  [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...

## Get total waste per day and restaurant

In [9]:
dim_biowaste['waste'] = (
    dim_biowaste['amnt_waste_customer']
    + dim_biowaste['amnt_waste_coffee']
    + dim_biowaste['amnt_waste_kitchen']
    + dim_biowaste['amnt_waste_hall']
)

dim_biowaste.drop(
    columns=['amnt_waste_customer', 'amnt_waste_coffee', 'amnt_waste_kitchen', 'amnt_waste_hall'],
    inplace=True
)

dim_biowaste.head()

        date restaurant  waste
0 2023-01-02   Chemicum  17.90
1 2023-01-03   Chemicum  21.20
2 2023-01-04   Chemicum  15.25
3 2023-01-05   Chemicum  21.80
4 2023-01-09   Chemicum  14.65

## Create single table containing embeddings and biowaste per day and restaurant

In [10]:
fact = (
    embds_by_day_res
    .merge(dim_biowaste, on=['date', 'restaurant'])
)

fact.head()

,date,restaurant,embd,waste
0,2023-01-02,Chemicum,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",17.90
1,2023-01-03,Chemicum,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",21.20
2,2023-01-04,Chemicum,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",15.25
3,2023-01-05,Chemicum,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",21.80
4,2023-01-09,Chemicum,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",14.65

# Find waste amount emitted by each dish

In [11]:
model = LinearRegression(positive=True, fit_intercept=False)

X = np.stack(fact['embd'].to_numpy())
y = fact['waste']

model.fit(X, y)

model.coef_

array([3.30498567e-02, 5.57677981e-02, 0.00000000e+00, 0.00000000e+00,
       2.25866202e-01, 1.99135315e-01, 4.69086241e-02, 1.50769908e-01,
       4.52380602e-02, 9.03610049e-02, 4.81421633e-02, 5.01292242e-02,
       8.29600505e-02, 3.53688568e-02, 7.12260909e-02, 5.43041162e-02,
       4.21300479e-02, 7.23562396e-02, 9.83370009e-02, 2.88935239e-02,
       5.46858756e-02, 3.51284474e-02, 3.52924549e-02, 4.46239075e-02,
       1.95139803e-01, 8.03674897e-03, 3.70910609e-02, 2.10597671e-03,
       4.23717054e-02, 0.00000000e+00, 0.00000000e+00, 7.31765330e-02,
       2.06578935e-02, 0.00000000e+00, 5.18250835e-02, 1.06236237e+00,
       6.81757236e-05, 5.03297481e-02, 5.49146782e-02, 9.38073688e-02,
       1.04650450e-01, 0.00000000e+00, 4.15015629e-02, 1.63614981e-01,
       1.02597927e-01, 0.00000000e+00, 7.65628665e-02, 0.00000000e+00,
       8.55829072e+00, 0.00000000e+00, 0.00000000e+00, 8.84767947e-02,
       1.17690833e-01, 4.58406530e-02, 5.59387884e-02, 4.27050793e-02,
       5.39363169e-02, 3.76419932e-02, 3.30749666e-02, 2.01017265e+00,
       0.00000000e+00, 4.99996310e-02, 0.00000000e+00, 1.91234403e-02,
       0.00000000e+00, 1.68517975e-01, 1.48680600e-01, 4.59396250e-02,
       0.00000000e+00, 0.00000000e+00, 4.72564724e-02, 9.76518710e-03,
       7.28806565e-02, 4.30845977e-02, 8.64440796e-02, 0.00000000e+00,
       5.82032870e-02, 3.17305945e-02, 8.94922905e-02, 0.00000000e+00,
       1.54946008e-02, 5.88576632e-02, 5.31433540e-02, 6.06510675e-02,
       3.16007780e-02, 8.96972596e-02, 0.00000000e+00, 0.00000000e+00,
       3.52609115e-02, 2.30418279e-01, 1.22157127e-01, 5.75138842e-02,
       2.04868944e+00, 6.36802719e-02, 1.74592133e-01, 1.12004960e-01,
       0.00000000e+00, 2.35440579e-02, 0.00000000e+00, 3.08818908e-01,
       4.51363857e-02, 4.47105626e-02, 5.11515713e-02, 1.08261440e-01,
       0.00000000e+00, 1.75915348e-02, 1.08129896e-01, 6.80849453e-02,
       8.47689521e-02, 2.43700296e-02, 7.94651041e-02, 3.14205086e-01,
       5.90227007e-02, 5.73594616e-02, 0.00000000e+00, 3.21747642e-02,
       4.56341734e-02, 0.00000000e+00, 5.73487408e-02, 1.04536578e-03,
       6.12224616e-02, 1.70859412e-01, 2.38677290e-02, 4.79854033e-02,
       5.95367477e-02, 6.12346157e-02, 6.55824584e-02, 5.52977956e-02,
       5.79862042e-02, 9.34330720e-02, 7.96429051e-02, 8.63238942e-02,
       1.23051236e-01, 4.12167895e-02, 5.50044227e-02, 5.22445742e-02,
       7.71180356e-02, 6.88354624e-02, 0.00000000e+00, 3.65548831e-02,
       3.25595679e-02, 4.39545046e-02, 1.40349762e-01, 2.60833787e-02,
       1.55819936e-02, 3.45719576e-02, 5.85330780e-02, 6.57175953e-02,
       2.39430924e-02, 1.40952084e-01, 1.44228448e-02, 5.13191830e-02,
       6.15060140e-02, 6.81190536e-02, 5.39521895e-02, 7.41532940e-02,
       1.74321950e-01, 6.60636101e-02, 0.00000000e+00, 7.36953230e-02,
       5.43788091e-02, 4.91986821e-02, 5.14343675e-02, 0.00000000e+00,
       0.00000000e+00, 6.01760754e-02, 4.95912252e-02, 1.30054106e-03,
       1.03124740e-01, 8.95603617e-02, 1.18875492e+00, 0.00000000e+00,
       0.00000000e+00, 0.00000000e+00, 2.51635393e-01, 0.00000000e+00,
       0.00000000e+00, 0.00000000e+00, 0.00000000e+00, 3.85564601e-02,
       1.64280261e+00, 0.00000000e+00, 4.50703911e-02, 0.00000000e+00,
       7.74614144e-02, 5.77748992e-02, 0.00000000e+00, 0.00000000e+00,
       3.93258308e-02, 6.43627878e-02, 3.19036538e-02, 0.00000000e+00,
       6.29252628e-02, 3.03490028e-02, 0.00000000e+00, 7.83912936e-02,
       5.33554649e+00, 0.00000000e+00, 1.13233066e-01, 2.76797227e-01,
       6.27306782e-02, 0.00000000e+00, 0.00000000e+00, 1.41659149e-01,
       0.00000000e+00, 0.00000000e+00, 5.93536691e-02, 2.07614092e-02,
       0.00000000e+00, 6.32876669e-02, 3.74375251e-02, 7.75345140e-02,
       5.95802972e-02, 0.00000000e+00, 2.76189654e-01, 8.58829056e-02,
       0.00000000e+00, 1.42113262e-01, 5.38254647e-02, 9.59861777e-02,
       9.46600039e-02, 3.31993427e-02, 4.41927105e+00, 3.05708165e-02,
       1.20320693e-01, 1.18222219e-01, 1.80149017e-02, 5.40196600e-02,
       5.47393900e+00, 1.16894197e+00, 4.40642642e-02, 4.94710944e-02,
       0.00000000e+00, 7.81168425e-02, 1.23055038e-01, 0.00000000e+00,
       1.85997034e-02, 0.00000000e+00, 4.53209004e-02, 0.00000000e+00,
       3.47936876e-02, 3.72628934e-02, 5.85615440e-02, 2.33267194e-02,
       5.95722894e-02, 0.00000000e+00, 0.00000000e+00, 8.93097821e-02,
       0.00000000e+00, 1.02312496e-01, 7.28269474e-02, 3.65613345e-02,
       0.00000000e+00, 0.00000000e+00, 2.86099337e-01, 7.78167015e-01,
       4.60703820e-02, 1.53636939e-01, 0.00000000e+00, 0.00000000e+00,
       1.57465882e-01, 7.43314044e-03, 7.50765433e-02, 0.00000000e+00,
       1.58741585e-01, 4.13456612e-02, 9.44844864e-02, 5.11333545e-02,
       4.14754198e-02, 6.11563064e-02, 6.35902275e-02, 1.35431032e-02,
       4.39977313e-02, 5.60583235e-02, 1.20572636e-01, 5.19302834e-02,
       1.11429914e-01, 4.00533350e-02, 1.60045000e-02, 1.47419955e-02,
       1.00406680e-01, 0.00000000e+00, 0.00000000e+00, 1.47043331e-01,
       0.00000000e+00, 0.00000000e+00, 3.78324139e+00, 1.23412465e-01,
       4.45110083e-02, 4.91513919e-02, 0.00000000e+00, 0.00000000e+00,
       3.52044412e-02, 4.42924326e-02, 2.61171736e-02, 6.58681226e-02,
       1.09656928e-01, 2.19988002e-02, 0.00000000e+00, 1.94771723e-02,
       0.00000000e+00, 7.28063680e-02, 0.00000000e+00, 7.32010508e-01,
       1.28470090e-01, 0.00000000e+00, 2.65193766e-02, 4.32081382e-02,
       0.00000000e+00, 8.38162929e-03, 1.59460950e-02, 0.00000000e+00,
       0.00000000e+00, 8.96816268e-02, 9.17704664e-02, 0.00000000e+00,
       5.64766322e-01, 0.00000000e+00, 0.00000000e+00, 2.93650570e-01,
       0.00000000e+00, 4.75509310e-02, 0.00000000e+00, 0.00000000e+00,
       4.47048019e+00, 1.34039613e-01, 1.83675820e-01, 4.97824540e-02,
       0.00000000e+00, 1.40503343e-01, 2.64759191e-01, 3.34627630e-01,
       2.90329132e-01, 0.00000000e+00, 2.25433997e-01, 3.06988408e-01,
       2.49712266e-01, 3.81488718e+00, 0.00000000e+00, 4.42373335e-01,
       1.16618118e+00, 0.00000000e+00, 0.00000000e+00, 0.00000000e+00,
       0.00000000e+00, 3.68258040e-01, 1.31933926e-02, 0.00000000e+00,
       2.38939183e-01, 1.16791431e-01, 0.00000000e+00, 3.21541482e-01,
       4.32611585e-01])

In [12]:
r2 = r2_score(y, model.predict(X))
rmse = root_mean_squared_error(y, model.predict(X))

print(f"r2   = {r2:.4f}")
print(f"rmse = {rmse:.4f}")

r2   = 0.7105
rmse = 7.8209

In [13]:
# This amount is added to waste of all dishes, which
# is based on the assumption that every dish emits waste
THETA = 1e-2

dim_dishes['waste'] = model.coef_ + THETA

dim_dishes.head()

,meal_id,restaurant,category,dish,embd,waste
0,1,Chemicum,chicken,BBQ-Broilerikastiketta,"[1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",0.043050
1,2,Chemicum,chicken,Broileria appelsiini-currykastikkeessa,"[0.0, 1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",0.065768
2,3,Chemicum,chicken,Broileria pekonikastikkeessa,"[0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",0.010000
3,4,Chemicum,chicken,Broileria pestokastikkeessa,"[0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",0.010000
4,5,Chemicum,chicken,Broilerinkoipea,"[0.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 0.0, ...",0.235866

In [14]:
dim_dishes = dim_dishes[['meal_id', 'waste']]
dim_dishes.to_excel(Paths.pred_biowaste(), index=False)