In [1]:
%cd ../

/home/hoanghu/projects/Food-Waste-Optimization

In [2]:
from datetime import datetime

import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import seaborn as sns

In [3]:
plt.style.use('seaborn-v0_8')
plt.rcParams.update({'font.size': 8})

# 1. Load data

In [4]:
path = "src/data/basic_mvp_data/Biowaste.csv"

biowaste = pd.read_csv(path, delimiter=';')

biowaste.head()

,Date,Ravintola,Asiakasbiojäte. tiski (kg),Biojäte kahvi. porot (kg),Keittiön biojäte (ruoanvalmistus) (kg),Salin biojäte (jämät) (kg)
0,1.1.2023,600 Chemicum,0.0,0.0,0.0,0.0
1,1.1.2023,610 Physicum,0.0,0.0,0.0,0.0
2,1.1.2023,620 Exactum,0.0,0.0,0.0,0.0
3,2.1.2023,600 Chemicum,4.7,1.2,12.0,0.0
4,2.1.2023,610 Physicum,0.0,0.0,0.0,0.0

In [5]:
path = "src/data/basic_mvp_data/tuntidata2.xlsx"

receipts = pd.read_excel(path, header=0)

receipts.head()

        Date  Kuitin tunti     Ravintola  Kuitti kpl
0 2023-01-02             8  600 Chemicum           1
1 2023-01-02            10  600 Chemicum          18
2 2023-01-02            11  600 Chemicum          83
3 2023-01-02            12  600 Chemicum          79
4 2023-01-02            13  600 Chemicum          90

In [11]:
path = "src/data/basic_mvp_data/supersight.xlsx"

occupancy = pd.read_excel(path, header=0, index_col=0)

occupancy.head()

                          countIn  countOut phoneName
dateCreated
2024-03-15T04:26:15.000Z        0         1       S63
2024-03-15T04:26:24.000Z        1         2       S63
2024-03-15T04:26:27.000Z        1         0       S63
2024-03-15T05:19:19.000Z        1         0       S63
2024-03-15T05:37:09.000Z        1         0       S63

In [18]:
path = "src/data/basic_mvp_data/kumpula_lounaat_kat.csv"

meals = pd.read_csv(path, delimiter=';')

meals.head()

,Unnamed: 0,Ravintola,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 31,Unnamed: 32,Unnamed: 33,Unnamed: 34,Unnamed: 35,Unnamed: 36,Unnamed: 37,Unnamed: 38,Unnamed: 39,Unnamed: 40
0,NaN,600 Chemicum,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Total
1,NaN,Kala,%-osuus,Kana,%-osuus,Kasvis,%-osuus,Liha,%-osuus,Not Mapped,...,Kasvis,%-osuus,Liha,%-osuus,Not Mapped,%-osuus,Vegaani,%-osuus,Total,NaN
2,NaN,Lounaat ilman lisämyyntiä,NaN,Lounaat ilman lisämyyntiä,NaN,Lounaat ilman lisämyyntiä,NaN,Lounaat ilman lisämyyntiä,NaN,Lounaat ilman lisämyyntiä,...,Lounaat ilman lisämyyntiä,NaN,Lounaat ilman lisämyyntiä,NaN,Lounaat ilman lisämyyntiä,NaN,Lounaat ilman lisämyyntiä,NaN,Lounaat ilman lisämyyntiä,Lounaat ilman lisämyyntiä
3,Total,73 554,"26,4 %",47 233,"16,9 %",1 524,"0,5 %",41 839,"15,0 %",14 822,...,3 910,"5,3 %",7 744,"10,6 %",195,"0,3 %",31 626,"43,2 %",73 132,397 770
4,2023-01-02,85,"24,4 %",0,"0,0 %",0,"0,0 %",171,"49,1 %",1,...,0,"0,0 %",0,"0,0 %",0,"0,0 %",0,"0,0 %",0,348

# 2. Pre-process

## With `biowaste`

In [6]:
biowaste['Date'] = biowaste['Date'].apply(lambda x: datetime.strptime(x, r"%d.%m.%Y"))

In [7]:
date_lim = '2024-05-25'

biowastedf = biowaste[biowaste['Date'] < date_lim]

biowaste.tail()

,Date,Ravintola,Asiakasbiojäte. tiski (kg),Biojäte kahvi. porot (kg),Keittiön biojäte (ruoanvalmistus) (kg),Salin biojäte (jämät) (kg)
2188,2024-12-30,610 Physicum,0.0,0.0,0.0,0.0
2189,2024-12-30,620 Exactum,0.0,0.0,0.0,0.0
2190,2024-12-31,600 Chemicum,0.0,0.0,0.0,0.0
2191,2024-12-31,610 Physicum,0.0,0.0,0.0,0.0
2192,2024-12-31,620 Exactum,0.0,0.0,0.0,0.0

## With `receipts`

In [10]:
receipts = receipts.replace({
    "600 Chemicum": "Chemicum",
    "610 Physicum": "Physicum",
    "620 Exactum": "Exactum"
})

receipts["weekday"] = receipts['Date'].dt.dayofweek

receipts.head()

        Date  Kuitin tunti Ravintola  Kuitti kpl  weekday
0 2023-01-02             8  Chemicum           1        0
1 2023-01-02            10  Chemicum          18        0
2 2023-01-02            11  Chemicum          83        0
3 2023-01-02            12  Chemicum          79        0
4 2023-01-02            13  Chemicum          90        0

## With `occupancy`

In [17]:
occupancy['phoneName'].unique()

array(['S63', 'S113', 'S82', 'S163', 'S216', 'S217'], dtype=object)

In [14]:
data = occupancy.reset_index()
# Cameras in Exa/Phy counts are wrong way around for counting people in Exa
data.loc[data['phoneName'] == 'S113', ['countIn', 'countOut']] = data.loc[data['phoneName'] == 'S113', ['countOut', 'countIn']].values

# Convert date column to datetime and set it as the index
data["Date"] = pd.to_datetime(data["dateCreated"])
data.set_index("Date", inplace=True)

# Calculate the daily sum difference of people entering and leaving
daily_sum_diff = data.resample('D').sum()['countIn'] - data.resample('D').sum()['countOut']
daily_sum_diff.name = "People flow diff"

# Remove timezone information
daily_sum_diff.tz_convert(None)

Date
2024-03-15   -490
2024-03-16     -2
2024-03-17      0
2024-03-18   -675
2024-03-19    120
             ...
2024-06-24      5
2024-06-25      3
2024-06-26      2
2024-06-27     27
2024-06-28     43
Freq: D, Name: People flow diff, Length: 106, dtype: int64