In [1]:
%cd ..

/home/hoanghu/projects/Food-Waste-Optimization

In [3]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import scipy
import seaborn as sns

In [4]:
plt.style.use('seaborn-v0_8')
plt.rcParams.update({'font.size': 8})

## File: tuntidata.xlsx

Store the quantity of something in all 3 restaurants in different datetimes

In [ ]:
path = "experiments_hoangle/tuntidata.xlsx"

df = pd.read_excel(path, header=0)

df.head(30)

## File: tuntidata2.xlsx

Store the number of orders in hours from 8 to 14 in different restaurants in different dates

In [ ]:
path = "experiments_hoangle/tuntidata2.xlsx"

df2 = pd.read_excel(path, header=0)

df2.head()

## File: supersight-raw_data.csv

Store the number of customers going in/out in different locations in different datetimes

In [ ]:
path = "experiments_hoangle/supersight-raw-data.csv"

df = pd.read_csv(path, header=0, index_col=0)

df.head()

In [ ]:
col_dt = pd.to_datetime(df['dateCreated'])

df.loc[:, 'day'] = col_dt.dt.day
df.loc[:, 'month'] = col_dt.dt.month
df.loc[:, 'hour'] = col_dt.dt.hour
df.loc[:, 'weekday'] = col_dt.dt.weekday

df.head()

In [ ]:
df_by_multiple = df.groupby(['day', 'month', 'hour', 'phoneName', 'weekday'])[['countIn', 'countOut']].sum().reset_index()
df_by_multiple.head()

In [ ]:
def view_by(df: pd.DataFrame, by: str):
    assert by in df

    cols = [by, 'countIn', 'countOut']
    df_by = df_by_multiple[cols].groupby(by).sum().reset_index()

    df_by = pd.melt(df_by, id_vars=[by], value_vars=['countIn', 'countOut'], var_name='type', value_name='count')

    fig = plt.figure(figsize=(8, 5))
    ax = fig.add_subplot(111)

    sns.barplot(df_by, x=by, y='count', hue='type', ax=ax)

In [ ]:
view_by(df_by_multiple, 'hour')

In [ ]:
view_by(df_by_multiple, 'weekday')

In [ ]:
view_by(df_by_multiple, 'day')

In [ ]:
view_by(df_by_multiple, 'month')

In [ ]:
view_by(df_by_multiple, 'phoneName')

## File: kumpula_data.xlsx

Store the quantity of something in 3 restaurants in different dates

In [ ]:
path = "experiments_hoangle/kumpula_data.xlsx"

df = pd.read_excel(path, header=0)

df.head()

## File: kumpula_data.xlsx

In [6]:
path = "src/data/basic_mvp_data/Sold lunches.csv"

df = pd.read_csv(path, delimiter=';')

df.head()

/tmp/ipykernel_27649/1730505476.py:3: DtypeWarning: Columns (5) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(path, delimiter=';')

,Date,Receipt time,Restaurant,Food Category,Dish,pcs,Hiilijalanjälki
0,2.1.2023,10:31,600 Chemicum,Liha,"Uunimakkaraa,sinappikastiketta",1,"0,9"
1,2.1.2023,10:32,600 Chemicum,Kala,Kalapuikot tillikermaviilikast,1,"1,04"
2,2.1.2023,10:32,600 Chemicum,Liha,"Uunimakkaraa,sinappikastiketta",1,"0,9"
3,2.1.2023,10:35,600 Chemicum,Kala,Kalapuikot tillikermaviilikast,1,"1,04"
4,2.1.2023,10:36,600 Chemicum,Liha,"Uunimakkaraa,sinappikastiketta",2,"1,8"